*{
  margin: 0px;
  padding: 0px;
}

body{
  margin-left: 5%;
  margin-right: 5%;
}
h2{
  color: #2789B3;
  font-family: 'Inconsolata', monospace;
  font-size: 50px;
}

.title{
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  margin-bottom: .5in;
}
.event{
  border: 5px solid darkgrey;
  font-family: 'Hind Siliguri', sans-serif;
  width: 70%;
  padding-left: 3%;
}

.eventsContainer{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-left: 40%;
  width: 60%;
}
.dropbtn {
 background-color: #3498DB;
 color: white;
 padding: 16px;
 font-size: 16px;
 border: none;
 cursor: pointer;
 width: 2in;
}
.dropbtn:hover, .dropbtn:focus {
 background-color: #2980B9;
}
.dropdown {
 position: relative;
 display: inline-block;
}
#myDropdown ul{
  list-style: none;
}
#myDropdown ul li: click {
  background-color: lightgrey;
}
.dropdown-content {
 position: absolute;
 background-color: #f1f1f1;
 min-width: 160px;
 box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
 font-family: 'Hind Siliguri', sans-serif;
}
.dropdown-content {
 color: black;
 padding: 12px 16px;
 text-decoration: none;
}
.dropbtn:click{
  display:block;
}
.dropdown-content div:hover {background-color: #ddd}
.show {display:block;}
